# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# IDEs (VS Code, PyCharm)
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables (SECURITY: Never upload these)
.env